//color
$white: #fff;
$light-grey :#f2f2f2;
$tan: #a4843e;
$golden: #c19c4a;
$fog:#e3e3e3;
$grey : #737271;
$black: #000;


//font
$Gilda-font: 'Gilda Display';
$Open-sans: 'Open Sans';

//line-height
$line-heightDisplay: 1.5em;
$line-heightBase: 1em;
$line-heightSmall: 1.5em;